@import "tailwindcss";

@layer base {
  html {
    @apply bg-zinc-950 text-zinc-400;
  }
}

.glass-card {
  background: rgba(238, 5, 5, 0.03);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 2.5rem;
}
.home-bg {
  background-image:
    linear-gradient(to bottom, rgba(10, 10, 10, 0.7), #0a0a0a),
    url("../src/assets/background.webp");
  background-size: cover;
  background-position: center;
}
